/* Umumiy sozlamalar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Handlee", cursive;
  background: #000;
  color: #fff;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== Header (Navbar) ===== */
.header {
  background: #000;
  padding: 15px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 70px;
  height: auto;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.header__link:hover,
.header__link.active {
  color: #4caf50;
}
.section__title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 50px 0 30px;
    color: #4caf50;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 ta ustun aniq belgilandi */
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 60px;
}

.project__card {
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    overflow: hidden;
    background: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.project__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #FAFBD4;
}

.project__card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 20px 5px;
    color: #FAFBD4;
}

.project__card p {
    color: #FAFBD4;
    font-size: 14px;
    margin: 0 20px 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 20px 20px;
}

.tags span {
  background: rgba(103, 102, 102, 0.365);
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 12px;
    color: #FAFBD4;
    transition: all 0.3s ease;
}

.tags span:hover {
    background: #000;
    color: #fff;
}
